<div class="contenedor-general">
    <div class="formulario">
        <form [formGroup]="registerForm" class="interior-formulario" (ngSubmit)="onSubmit()">
            <div class="container form-group cont-form titulo-centrado"><h1>Regístrate</h1></div>
            <div class="container form-group cont-form">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre" formControlName="nombre" required>
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputEmail1">Apellido</label>
                <input type="text" class="form-control" id="apellido" aria-describedby="emailHelp" placeholder="Apellido" required formControlName="apellido">
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputEmail1">Correo electrónico</label>
                <input type="email" name="correo" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="ejemplo@ejemplo.es" formControlName="correo" required>
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputPassword1">URL</label>
                <input type="url" name="url" class="form-control" id="url" placeholder="https://www.ejemplo.es" formControlName="url" required>
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" name="contraseña" class="form-control" id="contraseña" placeholder="Contraseña" formControlName="contraseña" required>
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputPassword1">Repetir contraseña</label>
                <input type="password" name="repetirContraseña" class="form-control" id="repetirContraseña" placeholder="Repetir contraseña" formControlName="repetirContraseña" required>
            </div>
            <div class="container form-group cont-form">
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Enviar</button>
              </div>
            </form>
          </div>
        </div>