.contenedor-general{
    width: 100vw;
    height: 100vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .formulario{
        width: 50%;
        height: 70%;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .interior-formulario{
            
        }
            .form-group{
                margin: 20px;
            }
            .btn-primary{
                width: 90%;
            }