<div class="contenedor-general">
    <div class="formulario">
        <form class="interior-formulario">
            <div class="container form-group cont-form titulo-centrado"><h1>Regístrate</h1></div>
            <div class="container form-group cont-form">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputEmail1">Apellido</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apellido">
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputEmail1">Correo electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputPassword1">URL</label>
                <input type="url" class="form-control" id="exampleInputPassword1" placeholder="URL">
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <div class="container form-group cont-form">
                <label for="exampleInputPassword1">Repetir contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repetir contraseña">
            </div>
            <div class="container form-group cont-form">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>