<div class="cont-around">
    <ng-container *ngIf="librosPadre.length > 0; else mostrarMensaje">
        <div *ngFor="let librosAtributos of librosPadre; let even = even, let i = index" class="card-1" [ngClass]="{'par': even, 'impar': !even}" type="submit">
            <button class="boton-x btn btn-white" (click)="eliminarLibro(i)">X</button>
            <div class="contenedor-img">
                <img src="{{librosAtributos.photo}}" class="image-card" alt="book">
            </div>
            <div class="card-body">
            <h5 class="card-title"> {{librosAtributos.title}} </h5>
            <p class="card-text">
                ID Lector: {{librosAtributos.id_user | referencia}}<br>
                ID Libro: {{librosAtributos.id_book | referencia}}<br>
                Genero: {{librosAtributos.type}}<br>
                Autor/a: {{librosAtributos.author}}<br>
                Precio: {{librosAtributos.price | moneda}}<br>
            </p>
            </div>
        </div>
    </ng-container>
    <ng-template #mostrarMensaje class="cont-mensaje">
        <div class="mensaje">
            <p>La librería está vacía</p>
        </div>
    </ng-template>
</div>