<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <h1 class="navbar text">MyBooks.</h1>
    </a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="text navbar nav-link mx-2" routerLink="/"><i class="fas fa-plus-circle pe-2"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="text navbar nav-link mx-2" routerLink="register"><i class="fas fa-bell pe-2"></i>Register</a>
        </li>
        <li class="nav-item">
          <a class="text navbar nav-link mx-2" routerLink="profile"><i class="fas fa-bell pe-2"></i>Profile</a>
        </li>
        <li class="nav-item">
          <a class="text navbar nav-link mx-2" routerLink="books"><i class="fas fa-heart pe-2"></i>addBook</a>
        </li>
        <li class="nav-item">
          <a class="text navbar nav-link mx-2" routerLink="updatebook"><i class="fas fa-heart pe-2"></i>UpdateBooks</a>
        </li>
        <li class="nav-item">
          <a class="text navbar nav-link mx-2" routerLink="card"><i class="fas fa-heart pe-2"></i>Books</a>
        </li>
        <li class="nav-item">
          <a class="text navbar nav-link mx-2" routerLink="login"><i class="fas fa-heart pe-2"></i>Log-in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->