<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><h1 class="navbar">ByBooks.</h1></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="navbar nav-link mx-2" href="#!"><i class="fas fa-plus-circle pe-2"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="navbar nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i>Register</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link mx-2" href="#!"><i class="fas fa-heart pe-2"></i>Trips</a>
        </li>
        <li class="nav-item ms-3">
          <a class="btn btn-black btn-rounded" href="#!">Sign in</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->