.contenedor-general{
    background-image: url(../../../assets/img/-methode-times-prod-web-bin-02fedb4c-9c05-11ed-8201-2ed91f44d1e8.jpg);
    width: 100vw;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .container{
        width: 60%;
        height: 60%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 50px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .boton{
            width: 100%;
            margin: 5px;
        }