<div class="contenedor-general">
    <div class="cont-formulario">
        <div class="cont-titulo">
            <h1>Añade un libro</h1>
        </div>
        <form action="" method="" class="formulario">
            <label>Titulo del libro</label><br>
            <input type="text" class="input form-control" name="titulo" placeholder="Introduce el título:" [(ngModel)]="titulo"><br>
            <label>Género del libro:</label><br>
            <input type="text" class="input form-control" name="genero" placeholder="Introduce el género:" [(ngModel)]="genero"><br>
            <label>Autor del libro:</label><br>
            <input type="text" class="input form-control" name="autor" placeholder="Introduce el/la autor/a:" [(ngModel)]="autor"><br>
            <label>Precio del libro:</label><br>
            <input type="text" class="input form-control" name="precio" placeholder="Introduce el precio del libro:" [(ngModel)]="precio"><br>
            <label>Portada del libro</label><br>
            <input type="text" class="input form-control" name="portada" placeholder="Click aquí para seleccionar una ruta" [(ngModel)]="foto" (click)="alert()"><br>
            <label>ID del libro:</label><br>
            <input type="text" class="input form-control" name="id-libro" placeholder="Introduce el ID del libro:" [(ngModel)]="id_book"><br>
            <label>ID del usuario:</label><br>
            <input type="text" class="input form-control" name="id-user" placeholder="Introduce el ID de usuario:" [(ngModel)]="id_user"><br>
        </form>
        <div class="cont-boton">
            <button class="btn btn-primary" (click)="infoInputs()">Añadir libro</button>
        </div>
    </div>
</div>