<div class="contenedor-general">
<!-- <app-card [librosPadre]="libros" (eliminarLibroEvent)="eliminarLibro($event)"></app-card> -->
    <div class="container">
        <div class="col">
            <div class="row">
                <form action="" method="" class="formulario">
                    <label>Titulo del libro</label><br>
                    <input type="text" class="input form-control" name="titulo" placeholder="Introduce el título:" [(ngModel)]="titulo"><br>
                    <label>Género del libro:</label><br>
                    <input type="text" class="input form-control" name="genero" placeholder="Introduce el género:" [(ngModel)]="genero"><br>
                    <label>Autor del libro:</label><br>
                    <input type="text" class="input form-control" name="autor" placeholder="Introduce el/la autor/a:" [(ngModel)]="autor"><br>
                    <label>Precio del libro:</label><br>
                    <input type="text" class="input form-control" name="precio" placeholder="Introduce el precio del libro:" [(ngModel)]="precio"><br>
                    <label>Portada del libro</label><br>
                    <input type="text" class="input form-control" name="portada" placeholder="Click aquí para seleccionar una ruta" [(ngModel)]="foto" (click)="alert()"><br>
                    <label>ID del libro:</label><br>
                    <input type="text" class="input form-control" name="id-libro" placeholder="Introduce el ID del libro:" [(ngModel)]="id_book"><br>
                    <label>ID del usuario:</label><br>
                    <input type="text" class="input form-control" name="id-user" placeholder="Introduce el ID de usuario:" [(ngModel)]="id_user"><br>
                </form>
                <br>
                <button class="boton btn btn-primary" (click)="infoInputs()">Añadir libro</button>
                <button class="boton btn btn-primary" (click)="borrarLocalStorage()">Borrar localStorage (leer comentario en template antes de pulsar)</button>
                <!-- El boton "Borrar localStorage" lo introduje para que, al eliminar un libro introducido a través del constructor del controlador books, puedas reestablecer la generación de dichos
                libros al refrescar la página. Ejemplo: Eliminas el libro "Biblia" y refrescas la página, dicho libro NO reaparece. Para que reaparezca has de clicar el botón "Borrar localStoreage" y
                posteriormente refrescar la página. Esto lo he hecha para diferenciar los 6 primeros libros creados a través del constructor del controlador books de aquellos libros generados a través
                del formulario. Sé que este botón no estaría permitido en produción, solo es una forma de mostraros conocimientos que he ido adquiriendo -->
            </div>
        </div>
    </div>
</div>