.container-general{
    background-image: url('../../../assets/img/i.jpeg');
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .letter-style{
        color: white;
        font-weight: 900;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }