<div class="contenedor-general">
    <div class="cont-formulario">
        <div class="cont-titulo">
            <h1>Modificador de libros</h1>
        </div>
        <form action="" method="" class="formulario">
            <label>Titulo del libro</label><br>
            <input type="text" class="input form-control" name="titulo" placeholder="Introduce el título:"><br>
            <label>Género del libro:</label><br>
            <input type="text" class="input form-control" name="genero" placeholder="Introduce el género:"><br>
            <label>Autor del libro:</label><br>
            <input type="text" class="input form-control" name="autor" placeholder="Introduce el/la autor/a:"><br>
            <label>Precio del libro:</label><br>
            <input type="text" class="input form-control" name="precio" placeholder="Introduce el precio del libro:"><br>
            <label>Portada del libro</label><br>
            <input type="text" class="input form-control" name="portada" placeholder="Click aquí para seleccionar una ruta"><br>
            <label>ID del libro:</label><br>
            <input type="text" class="input form-control" name="id-libro" placeholder="Introduce el ID del libro:"><br>
            <label>ID del usuario:</label><br>
            <input type="text" class="input form-control" name="id-user" placeholder="Introduce el ID de usuario:"><br>
        </form>
        <div class="cont-boton">
            <button class="boton btn btn-primary" (click)="modificarLibro()">Modificar libro</button>
        </div>
    </div>
</div>