p{
    font-weight: 600;
}
h5{
    font-weight: 600;
}
.container-general-card{
    width: 100vw;
    height: auto;
    background-image: url(../../../assets/img/faro-aventura.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .cont-around{
        width: 90%;
        height: auto;
        padding: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        .card-1{
            width: 18rem;
            height:45%;
            background-color: rgba(255, 255, 255, 0.55);
            padding: 10px;
            margin: 10px;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
        }
            .card-1.par:hover{
                box-shadow: 0 4px 8px rgba(243, 10, 255, 0.774);
                display: flex;
                flex-direction: column;
            }
            .card-1.impar:hover{
                box-shadow: 0 4px 8px rgba(10, 255, 251, 0.774);
                display: flex;
                flex-direction: column;
            }
                .contenedor-img{
                    width: 100%;
                    height: 70%;
                    display: flex;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center;
                }
                    .image-card{
                        width: 100%;
                        height: 100%;
                    }
            .boton-x{
                width: 5%;
                height: 5%;
                display: flex;
                margin: 5px;
                justify-content: flex-end;
                justify-content: center;
                align-items: center;
            }
            .boton-x:hover{
                background-color: rgb(224, 224, 224);
            }
            .boton-x:active{
                background-color: none;
            }
                .card-body{
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                }
                    .opacity-letter{
                        opacity: 1;
                    }
        .cont-mensaje{
            display: flex;
            justify-content: center;
        }
            .mensaje{
                color: white;
                font-size: xx-large;
            }
        .cont-search{
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .cont-cards{
                width: 100%;
                hyphens: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }