<div class="container-general-card">
    <div class="cont-around" >
        <ng-container *ngIf="librosPorDefecto.length > 0; else mostrarMensaje" >
            <div *ngFor="let librosAtributos of librosPorDefecto; let even = even, let i = index" class="card-1" [ngClass]="{'par': even, 'impar': !even}" type="submit">
                <button class="boton-x btn btn-white" (click)="eliminarLibro(i)">X</button>
                <div class="contenedor-img">
                    <img src="{{cardBookService.book.photo}}" class="image-card" alt="book">
                </div>
                <div class="card-body">
                <h5 class="card-title"> {{cardBookService.book.title}} </h5>
                <p class="card-text">
                    ID Lector: {{cardBookService.book.id_user | referencia}}<br>
                    ID Libro: {{cardBookService.book.id_book | referencia}}<br>
                    Genero: {{cardBookService.book.type}}<br>
                    Autor/a: {{cardBookService.book.author}}<br>
                    Precio: {{cardBookService.book.price | moneda}}<br>
                </p>
                </div>
            </div>
        </ng-container>
        <ng-template #mostrarMensaje class="cont-mensaje">
            <div class="mensaje">
                <p>La librería está vacía</p>
            </div>
        </ng-template>
    </div>
</div>