<div class="container-general-card">
    <div class="cont-around cont-search">
      <ng-container *ngIf="libroEscogido">
        <div class="cont-cards">
          <h2>{{ libroEscogido.title }}</h2>
          <p>ID Lector: {{ libroEscogido.id_user | referencia }}</p>
          <p>ID Libro {{ libroEscogido.id_book | referencia }}</p>
          <p>Genero: {{ libroEscogido.type }}</p>
          <p>Autor/a: {{ libroEscogido.author }}</p>
          <p>Precio: {{ libroEscogido.price | moneda }}</p>
        </div>
      </ng-container>
  
      <form class="d-flex mb-3" (submit)="buscarLibro(); resetBuscarLibro()">
        <input type="text" [(ngModel)]="id_book" name="id_book" class="form-control mr-2" id="searchInput" placeholder="Ingrese el nombre del libro">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
  
      <ng-container *ngIf="!libroEscogido && librosPorDefecto && librosPorDefecto.length > 0; else mostrarMensaje">
        <div class="cont-cards">
          <div *ngFor="let librosAtributos of librosPorDefecto; let even = even, let i = index" class="card-1" [ngClass]="{'par': even, 'impar': !even}">
            <button class="boton-x btn btn-white" (click)="alert(); eliminarLibro(i)">X</button>
            <div class="contenedor-img">
              <img src="{{librosAtributos.photo}}" class="image-card" alt="book">
            </div>
            <div class="card-body">
              <h5 class="card-title"> {{librosAtributos.title}} </h5>
              <p class="card-text">
                ID Lector: {{librosAtributos.id_user | referencia}}<br>
                ID Libro: {{librosAtributos.id_book | referencia}}<br>
                Genero: {{librosAtributos.type}}<br>
                Autor/a: {{librosAtributos.author}}<br>
                Precio: {{librosAtributos.price | moneda}}<br>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
  
      <ng-template #mostrarMensaje class="cont-mensaje">
        <div class="mensaje">
          <br>
          <p>La librería está vacía, añade un libro desde 'addBook'</p>
        </div>
      </ng-template>
    </div>
  </div>
  